*.pdf
*.zip
*.o
*.gch
./lab8/src/mini_shell
./lab7/src/main
./lab6/src/copy
./lab5/src/*.txt
./lab5/src/thread
./lab5/src/process
./lab9/src/boot.o
./lab9/src/bochs.img
./lab9/src/bochs.log
./lab9/src/boot
./lab9/src/boot.out
./lab10/src/boot.o
./lab10/src/bochs.img
./lab10/src/bochs.log
./lab10/src/boot
./lab10/src/boot.out
lab12/src/main
lab12/src/fat32d.img
lab12/src/.vscode/launch.json
lab12/src/.vscode/tasks.json
lab12/src/.vscode/settings.json
